@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-position: 156% 256%;
    background-size: 700px;
    background-color: hsl(270, 20%, 96%);
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
}

#phone {
    background-color: hsl(270, 20%, 96%);
    border: 10px solid white;
    border-radius: 30px;
    box-shadow: 0 10px 20px hsl(206, 6%, 79%);
    height: 635px;
    margin: 40px auto;
    width: 320px;
}

.header {
    background: linear-gradient(to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    border-radius: 30px 30px 8px 8px;
    height: 95px;
}

.header::before {
    content: '';
    position: absolute;
    background-color: white;
    border-radius: 0px 0px 16px 16px;
    left: 30%;
    top: 49px;
    height: 26px;
    width: 160px;
}

.description {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 40px 20px 20px;
}

.arrow-goBack {
    position: relative;
    margin-top: 0;
    margin-right: 10px;
}

.arrow-goBack::before {
    background-color: white;
    content: '';
    position: absolute;
    top:-8px;
    left: 0px;
    height: 9px;
    width: 3px;
    transform: skew(-28deg, 0deg);
}

.arrow-goBack::after {
    background-color: white;
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    height: 9px;
    width: 3px;
    transform: skew(28deg, 0deg);
}

.avatar img {
    border: 2px solid white;
    border-radius: 50%;
    height: 30px;
    margin: 2px 10px 0 10px;
    width: 30px;
}

.name {
    color: white;
    font-weight: 500;
}

.status {
    color: hsla(1, 100%, 100%, 0.4);
    font-size: 13px;
    margin-top: 2px;
}

.dots {
    background-color: white;
    border-radius: 50%;
    position: absolute;
    height: 2px;
    margin-left: 255px;
    width: 3px;
}

.dots::before {
    background-color: white;
    border-radius: 50%;
    content: '';
    height: 3px;
    position: absolute;
    top: -6px;
    left: 0px;
    width: 3px;
}

.dots::after {
    background-color: white;
    border-radius: 50%;
    content: '';
    height: 3px;
    position: absolute;
    top: 6px;
    left: 0px;
    width: 3px;
}

.messages {
    border-radius: 10px 10px 20px 20px;
    display: flex;
    font-size: 12px;
    flex-direction: column;
    padding: 10px 6px;

}

.text {
    font-size: 11px;
    border-radius: 15px;
}

.reply {
    background-color: hsla(206, 6%, 79%, 0.3);
    border-bottom-left-radius: 0px;
    color: hsl(276, 55%, 52%);
    margin-bottom: 8px;
    margin-left: 4px;
    max-width: 62%;
    padding: 8px 18px 8px 12px;
}

.pictures {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}

.pictures img {
    border-radius: 25%;
    margin: 5px 0px 0px 10px;
    width: 52px;
}

.user {
    align-items: flex-end;
    background-color: white;
    border-bottom-right-radius: 0;
    box-shadow: 0 2px 10px hsl(206, 6%, 79%);
    color: hsl(271, 15%, 43%);
    display: flex;
    margin: 7px 0px 6px 120px;
    max-width: 60%;
    padding: 10px;
    width: fit-content;
}

.user1 {
    margin-left: auto;
    margin-bottom: 7px;
}

.offer {
    align-items: center;
    background: linear-gradient(to right, hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    border-radius: 15px;
    border-bottom-left-radius: 0;
    color: white;
    display: inline-flex;
    justify-content: space-between;
    height: 44px;
    margin: 0 0 8px 4px;
    max-width: 80%;
    padding: 2px 25px 2px 13px;
}

.offer .circle {
    border: 2px solid white;
    border-radius: 50%;
    height: 14px;
    opacity: 0.3;
    width: 14px;
}

.offer p {
    font-weight: lighter;
    margin-left: -20px;
    opacity: 0.6;
}

.offer span {
    font-size: 20px;
    font-weight: 700;
}

.hour {
    margin-left: -39px !important;
}

form {
    display: inline-flex;
    margin-top: 5px;
}

input {
    border: 1px solid hsl(270, 20%, 96%);
    border-radius: 35px;
    opacity: 0.8;
    padding: 18px 25px 15px;
    width: 100%;
}

input:focus {
    outline: none;
}

.send-btn {
    background-color: hsl(271, 36%, 24%);
    border-radius: 50%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    height: 28px;
    width: 28px;
    margin-left: -40px;
    margin-top: 10px;
    padding: 1px 11px 0px 9px;
    z-index: 100;
}

.title {
    margin: auto;
    text-align: center;
}

h1 {
    color: hsl(271, 36%, 24%);
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 60px;
}

.intro {
    color: hsl(270, 7%, 64%);
    font-size: 20px;
    line-height: 1.5;
    margin: 0 15px 40px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
    
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 768px) {
    .header::before {
        left: 40%;
    }
}

@media (min-width: 1024px) {
    .header::before {
        left: 42%;
    }

    .intro {
        margin: 0 73px 40px;
    }
}

@media (min-width: 1206px) {

    .main {
        align-items: center;
        display: flex;
    }

    #phone {
        margin: 100px 0 40px;
        margin-left: 25%;
        height: 635px;
        width: 320px;
    }

    .header::before {
        left: 465px;
        top: 14%;
    }

    .title {
        margin: 0;
    }

    h1 {
        font-size: 40px;
        margin-left: -60px;
    }

    .intro {
        font-size: 18px;
        line-height: 1.7;
        margin: auto 0 auto 145px;
        text-align: left;
        width: 500px;
    }

}